@import "tailwindcss";

html,
body {
  font-family:
    Pretendard,
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Noto Sans KR",
    "Apple SD Gothic Neo",
    sans-serif;
}
#root {
  height: 100%;
}
body {
  margin: 0;
}

:root {
  --background: oklch(0.975 0.002 75);
  --foreground: oklch(0.22 0.01 50);
  --card: oklch(0.99 0.001 75);
  --card-foreground: oklch(0.22 0.01 50);
  --popover: oklch(0.99 0.001 75);
  --popover-foreground: oklch(0.22 0.01 50);
  --primary: oklch(37.944% 0.05998 53.967);
  --primary-foreground: oklch(100% 0.00011 271.152);
  --border: oklch(0.91 0.008 75);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(55.553% 0.00006 271.152);
}
